/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
/*body {
  border-radius:0;
  border-style:solid;
  border-width:1px;
  font-size:var(--lumo-font-size-l);
  padding:var(--lumo-space-m);
}

vaadin-login-form.login-view-login-form-1 {
  background-color:rgba(173,20,20,0);
  border-color:rgba(31,75,128,0.94);
}

vaadin-vertical-layout.register-view-vertical-layout-1 { border-color:rgba(232,250,243,0.54); }

*/
